@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

* {
  scroll-behavior: smooth;
}

.light ::selection {
  background: yellow;
  color: #000;
  -webkit-text-fill-color: #000;
}

.dark ::selection {
  background: blue;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

@layer components {
  .h1 {
    @apply text-lg font-medium text-neutral-900 dark:text-neutral-100;
  }

  .h2 {
    @apply text-base font-medium text-neutral-800 dark:text-neutral-200;
  }

  .bold {
    @apply font-semibold text-neutral-900 dark:text-neutral-100;
  }

  .paragraph {
    @apply font-normal leading-6 tracking-[-0.1px] text-neutral-600 dark:text-neutral-300;
  }

  .link {
    @apply font-normal text-neutral-800 underline dark:text-neutral-200;
  }
}
